* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Style for first task */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  max-width: 392px;
}
.item h2 {
  color: #2e2f42;
  /* font-family: Montserrat; */
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
  margin-bottom: 16px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  color: #2e2f42;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  letter-spacing: 0.64px;
}

/* style for second task */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery li {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery li img {
  width: 100%;
  height: 100%;
}

/* style for third task */
